@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

/* body {
    margin: auto;
    margin-top: 100px;
    text-align: center;
    align-self: center;
    justify-content: center;
} */


body .quran-vault {
    --metadata-display-reading: none;
}

.quran-vault .quran-container {
    margin: auto;
    /* max-width: 900px; */
    font-family: Amiri;
    font-size: 2rem;
    text-align: center;
/*     background-color: #ffe30029; */
    border-radius: 12px;
    padding: 5px;
    direction: rtl;
}


.quran-vault .quran-container .border {
    width: 70%;
    display: block;
    background: #ffcb00;
    height: 8px;
    margin: auto;
}

.quran-vault .quran-container .second-border {
    width: 50%;
    display: block;
    background: #ffa700;
    height: 8px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    transform: skew(55deg, 0);
}

.quran-vault .quran-container .second-border-bottom {
    width: 50%;
    display: block;
    background: #ffa700;
    height: 8px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    transform: skew(-55deg, 0);
}

.quran-vault .quran-container .name-of-god {
    display: flex;
    margin-bottom: auto;
    display: flex;
    margin-bottom: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.quran-vault .quran-container .sign {
    position: relative;
}

/* #f1,
#f2,
#f3,
#f4,
#f5 {
    position: relative;
} */
